/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.course-details-link{
  text-decoration: none;
}

/* form */
.create {
  background-color: white;
  padding: 20px;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
}

.create h3 {
  font-size: 1.2em;
  margin-top: 0;
}

.create label {
  font-weight: bold;
}

.create input,
.create select,
.create textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 100%; 
  max-height: 88px;
}

.create div {
  margin-bottom: 10px;
}

.create input[type="radio"],
.create label[for="semester-a"],
.create label[for="semester-b"] {
  display: inline-block;
  margin-right: 10px;
}

.create button[type="submit"] {
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.create .error {
  color: var(--error);
}

.create .semester-options {
  display: flex;
  margin-bottom: 10px;
}

.create .semester-options label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.create .semester-options input[type="radio"] {
  margin-right: 5px;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin: 12px;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
form.signup h3,
form.login h3 {
  font-size: 1.2em;
  margin-top: 0;
}
form.signup label,
form.login label {
  font-weight: bold;
}
form.signup input,
form.login input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
form.signup div,
form.login div {
  margin-bottom: 10px;
}
form.signup button[type="submit"],
form.login button[type="submit"] {
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Course Page */

.titles h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--primary);
}

.grade-sheet-table {
  height: 100%;
  width: 100%;
  padding-right: 10px;
  overflow-y: auto;
}

.add-student {
  width: 15vw;
  padding-top: 5%;
}

.statistics {
  height: 45vh;
  margin: 20px;
}

.grade-student{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 70vh;
}

.grade-sheet{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-right: 15px;
}

.titles-headlines{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

/* Grade Sheet */
.grade-table {
  background-color: white;
  width: 100%;
  max-height: 300px;
  border-collapse: collapse;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.grade-table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.grade-table tr {
  height: 33px;
  transition: height 0.3s ease; /* Add transition for smooth animation */
}

.grade-table tr.edit-mode {
  height: 45px; /* Adjust the desired height for the edit mode */
}

.grade-table td {
  padding: 8px;
  text-align: left;
  font-family: "Roboto";
  border-bottom: 1px solid #ccc;
}

.grade-table tr:last-child td {
  border-bottom: none;
}

.grade-table tbody td:last-child {
  width: 5px;
}

.material-symbols-outlined {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fbfbfb;
  color: #333;
  cursor: pointer;
  font-size: 20px;
}

.update-button {
  background-color: var(--primary);
  color: white;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}

/* Student Form */
.student_form {
  background-color: white;
  height: 450px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.student_form h2 {
  font-size: 1.2em;
  margin-top: 0;
}

.student_form label {
  font-weight: bold;
}

.student_form input {
  display: block;
  width: 93%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 100%; 
  max-height: 48px;
}

.student_form div {
  margin-bottom: 15px;
}

.student_form input[type="radio"],
.student_form label[for="male"],
.student_form label[for="female"] {
  display: inline-block;
  margin-right: 1px;
}

.student_form button[type="submit"] {
  margin-top: 10px;
  background-color: var(--primary);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.student_form .error {
  color: var(--error);
}

.student_form .gender {
  display: flex;
  margin-bottom: 10px;
}

.student_form .gender label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.student_form .gender input[type="radio"] {
  margin-right: 5px;
}

.spanForm {
  margin-left: 12px;
}

.error-box {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

#errorMessage {
  color: #721c24;
  font-size: 14px;
  margin: 0;
}